@page "/movies"
<h3>Movies</h3>
<span style="font-size: 24px">@movies.ChosenActivity</span>
<br />
<button class="btn-choose" @onclick="(() => movies.MakeChoice())">Decide a Movie</button>
<hr />

<input class="input-josue" placeholder="e.g., The Room" @bind-value="newMovie" @bind-value:event="oninput" @onkeyup="AddMovieOnEnter" />
<button class="btn-add" @onclick="AddMovie">Add movie</button>

<!--iterate through and list movies list-->
<ul>
    @foreach (var movie in movies.Choices)
    {
        <li>
            <!--<input @bind="movie.Title" />-->
            <span>@movie</span>
            <button class="btn-remove" @onclick="(() => movies.RemoveChoice(movie))">x</button>
        </li>
    }
</ul>
<!--This lets you add an item to the list on "Enter"
    and adds button so you can add item on button click-->





@code {
    private string newMovie;
    public Activity movies = new Activity { Type = "Movies" };

    // Method for adding movies on click
    private void AddMovie()
    {
        if (!string.IsNullOrWhiteSpace(newMovie))
        {
            movies.AddChoice(newMovie);
            newMovie = string.Empty;
        }
    }
    // Method for adding movies on "Enter"
    private void AddMovieOnEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            AddMovie();
        }
    }
}
