@page "/television"
@inject Blazored.LocalStorage.ILocalStorageService LocalStore
@inject Activity TV 

<h3>TV Shows</h3>


<br />
@*<span style="font-size: 24px">@TV.Decision</span>

<br />

<button class="btn-choose" @onclick="(() => TV.MakeDecision())">Decide a TV Show</button>*@

<hr />

<input class="input-josue" placeholder="e.g., Silicon Valley" @bind-value="NewChoice" @bind-value:event="oninput" @onkeyup="AddChoiceOnEnter" />
<button class="btn-add" @onclick="AddChoiceToChoices">Add Show</button>
<button class="btn-choose" @onclick="ClearLocalStorage">Clear All</button>

<ul>
    @foreach (var choice in TV.Items)
    {
        <li>
            <span>@choice.Name</span>
            <button class="btn-remove" @onclick="(() => RemoveChoice(choice.Name))">x</button>
        </li>
    }
</ul>

@code {
    //public Activity TV = new Activity { };
    private string NewChoice;
    const string Key = "TVList";

    // Add Choice to TV
    // Reload items on return
    protected override async Task OnInitializedAsync()
    {
        TV = await LocalStore.GetItemAsync<Activity>(Key);

        if (TV == null || TV.Items.Count == 0)
        {
            TV = new Activity { };
        }

    }

    public async void UpdateLocalStorage()
    {
        await LocalStore.SetItemAsync(Key, TV);
    }

    public async void ClearLocalStorage()
    {
        TV.Items.Clear();
        await LocalStore.ClearAsync();
    }

    public void AddChoiceToChoices()

    {
        bool isNotEmpty = !string.IsNullOrWhiteSpace(NewChoice);
        bool isNewChoice = !TV.Items.Any(choice => choice.Name == NewChoice);

        if (isNotEmpty && isNewChoice)
        {
            var item = new Choice { Name = NewChoice };


            TV.Items.Add(item);

            NewChoice = string.Empty;

            UpdateLocalStorage();
        }

    }

    // Method for adding choices on "Enter"
    public void AddChoiceOnEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            AddChoiceToChoices();
        }
    }


    // Method for removing a choice
    public void RemoveChoice(string ChoiceToRemove)
    {
        var ItemToRemove = TV.Items.Single(choice => choice.Name == ChoiceToRemove);
        TV.Items.Remove(ItemToRemove);
        UpdateLocalStorage();
    }

}
